<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>CRUD Artículos con JSP y Servlet </display-name>
    <!--<context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://aa2k82x3srmpc7.chjq4y119s8l.us-west-1.rds.amazonaws.com:3306/mesa-ayuda?allowMultiQueries=true</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>r00tt0mc4t</param-value>
    </context-param>-->
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://andreaml.ddns.net:3306/italiano?allowMultiQueries=true</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>asd123</param-value>
    </context-param>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatillosServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.PlatilloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.AdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlatillosPedidosServlet</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.PlatillosPedidosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioAdmin</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.InicioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioCliente</servlet-name>
        <servlet-class>com.ucol.mesa.ayuda.cgti.controller.InicioCliente</servlet-class>
    </servlet>
        <servlet-name>Inicio</servlet-name>
        <jsp-file>/italiano/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatillosServlet</servlet-name>
        <url-pattern>/platillos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorServlet</servlet-name>
        <url-pattern>/administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlatillosPedidosServlet</servlet-name>
        <url-pattern>/platillos-pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioAdmin</servlet-name>
        <url-pattern>/InicioAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioCliente</servlet-name>
        <url-pattern>/InicioCliente</url-pattern>
    </servlet-mapping>
</web-app>
